.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
  padding: 16px 12px;
  width: 320px;
  height: 222px;
  background: var(--white);
  position: relative;
}

.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.title {
  font-weight: 600;
  font-size: 12px;
  color: var(--black);
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  top: 40px;
  right: 16px;
  stroke: #333;
  transition: all 0.2s ease;
}

.closeButton:hover {
  transform: scale(1.3);
}

.btnGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.resetBtn,
.applyBtn {
  display: flex;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--black);
  padding: 0px 0px 4px 0px;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
  justify-content: flex-start;
  color: var(--black);
  transition: all 0.2s ease;
}

.resetBtn:hover,
.applyBtn:hover {
  border-color: #555;
  transform: scale(1.1);
}
