.bannerSection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.3)
    );
  }
}

.imageSearch {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.boxTitle {
  position: absolute;
  top: 53%; 
  left: 0;
  z-index: 2;
  width: 100%;
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
gap: 24px;
}

.titleBanner {
  font-weight: 600;
  font-size: 40px;
  color: var(--white);
  
}
